@using Microsoft.VisualStudio.Web.CodeGeneration.Contracts.Messaging

@{
    ViewData["Title"] = "Order";
    string ordermessage = ViewBag.Ordermessage;
    Layout = ViewBag.Layout;
}

<h1>Your lunch will be waiting for you</h1>

@ordermessage

